:root {
    --white: #FFFFFF;
    --black: color #000000
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--white);
}
nav {
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    border: 1px solid gray; /*color for now*/
}
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: var(--black);
    padding: 0 0 0 15px;
    display: inline-block;
}

.littleImages {
    padding: 0 0 0 15px;
    height: 32px;
    width: 32px;
}